VITE_SUPABASE_URL=https://wfpdtjmmrhhfuxayvpzu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmcGR0am1tcmhoZnV4YXl2cHp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNzE1NDksImV4cCI6MjA4ODY0NzU0OX0.Iyeogfs5AIiVrM5agXuMZsgFrud460OYvn0zkYgJH0s
VITE_N8N_WEBHOOK_BASE=https://restaurante1-n8n.bqspdc.easypanel.host/webhook
VITE_APP_PIN=1234
